body {
  background-image: url("https://picjumbo.com/wp-content/uploads/forest-treetops-from-below-free-photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow:hidden

}

div.title {
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    font-family: trebuchet MS;
    font-size: large;
    color: #ffffff;
  }

div button {
    display: inline-block;
    height: 500px;
    width: 500px;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
    border: thick solid #000000;
  }

  .clickbutton {
    width: 100px;
    height: 100px;
    background: transparent;
  }
