body {
  background-image: url("https://images3.alphacoders.com/132/1322308.jpeg");
}

div button {
    display: inline-block;
    height: 300px;
    width: 300px;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
    border: thick solid #000000;
  }
  
  .mainbutton {
    font-size: 30px;
    background-color: #1616ac;
  }

  .mainbutton:hover {
    font-size: 30px;
    background-color: #bc1010;
    transition: 0.7s;
  }
