body {
    background-image: url(https://st3.depositphotos.com/1004573/17540/i/450/depositphotos_175404086-stock-photo-3d-abstract-black-and-white.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden
}

div.title {
    text-align: center;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100%;
    font-family: trebuchet MS;
    font-size: large;
    color: #ffffff;
  }
  
div button {
    display: inline-block;
    height: 300px;
    width: 300px;
    cursor: pointer;
    border-radius: 50px;
    color: #ffffff;
    border: thick solid #000000;
  }
  
  .buttonalvaro {
    font-size: 30px;
    background-color: #08a129;
  }

  .buttonalvaro:hover {
    font-size: 30px;
    background-color: #107526;
    transition: 0.7s;
  }
  
  .buttonoscar {
    font-size: 25px;
    background-color: #ba46e1;
  }
  
  .buttonoscar:hover {
    font-size: 25px;
    background-color: #9a178a;
    transition: 0.7s;
  }
